* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #0A0909;
    color: #FAFAFA;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
}



.nav-bar {
    width: 100%;
    background-color: #FFC107;
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: #D7D661;
}

.search-box, .search-box-mobile {
    animation: fadeIn 1s;
}

.search-box {
    position: absolute;
    top: 180px;
    right: 50px;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.search-box-mobile {
    position: absolute;
    top: 120px;
    right: 10px;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.search-input {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FAFAFA;
    animation: slideIn 0.5s;
}

.search-input:focus {
    outline: none;
}

.carousel {
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin-left: 8pc;
    overflow: hidden;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s, filter 0.5s;
}

.carousel-inner img:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
}

.portfolio1 {
    margin: 10px;
}

.portfolio1 h2 {
    color: #FFC107;
    text-align: left;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row .col-6 {
    margin: 10px 0;
}

.animated {
    animation: fadeIn 1s forwards;
}

.portfolio1 img {
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio1 img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.portfolio1 img:active {
    transform: scale(0.95);
}

@media (max-width: 900px) {
    .search-box {
        display: none;
    }

    .search-box-mobile {
        display: flex;
    }

    .carousel {
        width: 100%;
        max-width: 100%;
        height: 200px;
        margin-left: 0;
    }

    .portfolio1 img {
        width: 100%;
        height: auto;
        max-width: 90%;
    }


    header {
        padding: 10px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
